*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: url("https://fonts.cdnfonts.com/css/optima"), "Century Gothic";
  font-size: 1.6rem;
}

:root {
  --C0: rgb(167, 169, 172);
  --C1: rgb(0, 125, 190);
  --C2: rgb(0, 88, 138);
  --C3: rgb(0, 171, 189);
  --C4: rgb(84, 198, 211);
  --C5: rgb(0, 183, 199);
  --C6: rgb(35, 31, 32);
  --C7: rgb(99, 100, 102);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@keyframes transitionSlideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes transitionFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes news-ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
