.header_home{
    background-color: var(--C2);
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: var(--C1);
    position: sticky;
    top: 0;
}

.topnav{
    display: none;
}

.title_home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 975px) {
    .title_home{
        flex-direction: column;
    }

    .udm_logo{
        text-align: center;
    }

    .icacie_logo{
        text-align: center;
    }

    .navbar{
        display: none;
    }
    .topnav{
        display: contents;
    }
}


.topnav {
    overflow: hidden;
    background-color: var(--C1);
    position: sticky;
    top: 0;
}


.active {
    background-color: var(--C1);
    color: white;
}

.main-background{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../images/udm-background3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

.menu {
    float: left;
    width: 20%;
    text-align: center;
}
  
.menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
}
  
.main {
    color: white;
    float: left;
    width: 60%;
    padding: 0 20px;
}
  
.right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}
  
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
    
}

.footer_content1{
    background-color: black;
    height: 107rem;
}

.footer_content{
    background-color: hotpink;
    height: 7rem;
    position: sticky;
    top: 0;
}
